

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript"></script>

<div id="canvas">
	<div style='border:2px dashed red; width: 200px; height: 200px' id='divRed'></div>
	<br>
	<div style='border: 2px dashed blue; width: 200px; height: 200px' id='divBlue'></div>
<div>

<script>
	let divRed = $('#divRed');
	let divBlue = $('#divBlue');
	let teste = document.getElementById("divBlue");
	
	divRed.mousemove(function(e) {
		//console.log(e.pageX, e.pageY);
		
		var event = new MouseEvent('mouseover', {
			view: window,
			bubbles: true,
			cancelable: true,
			clientX : e.pageX,
			clientY : e.pageY
		});
		
		teste.dispatchEvent(event);
		
		//divBlue.trigger(event);
	});
	
	
	divBlue.mouseover(function(e) {
		console.log(e.pageX, e.pageY);
		
		let cursor = $('<div></div>');
		cursor.css({"width": "2px"});
		cursor.css({"height": "2px"});
		cursor.css({"background-color": "black"});
		cursor.css({"z-index": "9999"})
		cursor.css({"position": "absolute"});
		
		var x = divBlue.position();
		
		$("#canvas").prepend(cursor);
		cursor.offset({ top: x.top + e.pageY, left: x.left + e.pageX });
		
	});
		
</script>


